<section class="home__introduction">
    <div class="text">
      <h1 class="title">Advanced Ranking System</h1>
      <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias labore laudantium adipisci quasi animi. Sapiente rerum optio ad maxime voluptatum suscipit, dicta cum quis, ab.</p>
    </div>
</section>
<section class="home__trueskill">
    <div class="image">
      <img src="/images/neural.jpg">
    </div>
    <div class="text">
      <h1 class="title">Trueskill Ratings</h1>
      <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta repellat amet qui laudantium recusandae iusto maiores aliquam error unde dolore mollitia aspernatur, numquam eligendi quia.</p>
    </div>
</section>
<section class="home__action">
    <h1 class="title">Explore The Rankings</h1>
    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, ex, illum? Laborum maxime molestias voluptate.</p>
    <div class="button-container"><button>View Rankings</button></div>
</section>