<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <!--[if lt IE 9]>
          <script src="/js/polyfill/html5-shiv.js"></script>
        <![endif]-->

        <!--STYLES-->
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->
    </head>

    <body>





        <nav class="global-nav">
            <ul>
              <li class="logo"><img src="/images/logo.png"></li>
              <li>National</li>
              <li>Western</li>
              <li>Central</li>
              <li>Eastern</li>
            </ul>
        </nav>


        {{{ body }}}


        <footer class="global-footer">
            <small>Crafted with love by Kenneth and Ralph</small>
        </footer>






    <script src="/js/dependencies/sails.io.js"></script>
    <!--[if lt IE 9]>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
        <script src="/js/polyfill/ie-love.js"></script>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <!--<![endif]-->
    </body>
</html>