<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Rivals Rankings</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <!--[if lt IE 9]>
          <script src="/js/polyfill/html5-shiv.js"></script>
        <![endif]-->
        <script defer src="/js/dropdown.js"></script>

        <!--STYLES-->
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->
    </head>

    <body>


        <!-- Top Bar Code taken from RivalsOfAether.com -->
        <div id="top_bar">
            <div class="top_bar_content_wrap">

                <div class="top_bar_content no_select">
                    <div id="top_bar_menu_btn" onclick="menuOpen()">
                        <div id="top_bar_menu_btn_img"></div>
                    </div>

                    <script>
                        function menuOpen()
                        {
                            if(document.getElementById("top_bar").className == ""){
                                document.getElementById("top_bar").className = "top_bar_open";
                                document.getElementById("top_bar_menu_btn_img").className = "top_bar_menu_btn_img_open";
                            }else{
                                document.getElementById("top_bar").className = "";
                                document.getElementById("top_bar_menu_btn_img").className = "";
                            }
                        }
                    </script>

                    <span class="top_bar_logo_wrap"><a class="top_bar_logo" href="http://www.rivalsofaether.com/"></a></span><a class="top_bar_link " href="http://aetherboards.com/news">NEWS</a><a class="top_bar_link " href="http://aetherboards.com/forums">FORUMS</a><a class="top_bar_link " href="http://www.rivalsofaether.com/characters/">CHARACTERS</a><a class="top_bar_link active" href="http://www.rivalsrankings.com">RANKINGS</a><a class="top_bar_link " href="http://www.rivalsofaether.com/presskit/">PRESSKIT</a>
                </div>
            </div>

        </div>

        
        <div class="top_bar2">
          <nav class="top_bar_content_wrap">
            <ul>
                <li class="first-nav"><a class="top_bar2_link active " href="http://rivalsrankings.com">LEARN</a></li>
                <li><a class="top_bar2_link " href="http://rivalsrankings.com/#schedule">SCHEDULE</a></li>
                <li><a class="top_bar2_link " href="https://www.twitch.tv/directory/game/Rivals%20of%20Aether">WATCH</a></li>
                <li class="js-dropdown"><a class="top_bar2_link dropdown" href="http://rivalsrankings.com/rankings/national/">LEADERBOARDS</a>
                    <ul class="dropdown-list fallback">
                      <li><a href="#">Category One</a></li>
                      <li><a href="#">Category Two</a></li>
                      <li><a href="#">Category Three</a></li>
                    </ul>
                </li>
                <li><a class="top_bar2_link " href="#">FAQS</a></li>
            </ul>   
          </div>
        </nav>

        <div class="top_bar_padding"></div>
        

        {{{ body }}}


        <footer class="global-footer">
            <small>Crafted with love by <a href="http://www.kendevdesigns.com">Kenneth</a> and <a href="https://github.com/ralphjos">Ralph</a>&ensp;|&ensp;View on <a href="https://github.com/ralphjos/node-rivals-rankings">GitHub</a></small>
        </footer>






    <script src="/js/dependencies/sails.io.js"></script>
    <!--[if lt IE 9]>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
        <script src="/js/polyfill/ie-love.js"></script>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <!--<![endif]-->
    </body>
</html>