
nav ul li {display:inline;}
.dropdown-list {position:absolute;width:110px;background:#FFF;}
.dropdown-list li {width:110px;}
.dropdown-list li a {display:block;padding:15px 10px;color:#444;}
.dropdown-list li:hover a {background:#F7F7F7;}