.global-footer {
  @include margin-top(2);
  background-color: color($grey, 200);
  border-top: 1px solid color($grey, 300);
  padding: $whitespace / 2;
  
      small {
        display: block;
        text-align: center;
        color: color($grey, 500);
      }
}