.container {
  margin: auto;
  padding: 5rem 0.5rem;
  max-width: 75rem;
}

.col {
  width: 48%;
  display: inline-block;
}

.first {
  margin-right: 3%;
}

.home__how-it-works {
  background-color: #e6e6e6;
  
  .title {
    @include title-font;
    @include size(hero);
    @include margin-bottom(1);
    display: inline-block;
  }

  .desc {
    @include size(p);
    @include margin-bottom(1);
  }

  button {
    @include size(h4);
    @include button-lite(color($theme-color));
    padding: 1rem 3rem;
    color: white;
  }
  
}

.home__schedule {

  .title {
    @include title-font;
    @include size(hero);
    @include margin-bottom(1);
  }

  .table-head-row {
    td {
      @include title-font;
      @include size(h2);
      text-transform: uppercase;
      background-color: #333;
      color: white;
      text-align: center;
      padding: 1rem;
    }
  }
  tbody {
    td {
      @include size(p);
      text-align: center;
      height: 3.5rem;
    }
    tr:nth-child(odd) td{
      background-color: color($grey, 50);
    }
    tr:nth-child(even) td{
      background-color: mix(white, color($theme-color, 50), 50%);
    }
  }
}



.home__rankings {
  background-color: #e6e6e6;
  
  .title {
    @include title-font;
    @include size(hero);
    @include margin-bottom(1);
  }

  .table-head-row {
    td {
      @include title-font;
      @include size(h2);
      text-transform: uppercase;
      background-color: #333;
      color: white;
      text-align: center;
      padding: 1rem;
    }
  }
  table {
    @include margin-bottom(2);
  }
  tbody {
    td {
      @include size(p);
      text-align: center;
      padding: 1rem 0.5rem;
    }
    tr:nth-child(odd) td{
      background-color: color($grey, 50);
    }
    tr:nth-child(even) td{
      background-color: mix(white, color($theme-color, 50), 50%);
    }

    .player {
      font-weight: 600;
    }
    .region {
      color: color($grey, 600);
    }
    .rival-icon {
      width: 2rem;
    }
    .wins {
      color: color($green);
    }
    .losses {
      color: color($red);
    }
    .ratings {
      font-weight: 600;
    }
  }

  .button-container {
        display: block;
        text-align: center;
      }
      button {
        @include title-font;
        @include size(h1);
        @include button-lite(color($theme-color));
        padding: 1rem 6rem;
        color: white;
        
        @media (max-width: $breakpoint-tablet) {
          padding: 1rem 2rem;
        }
      }

}